[package]
authors = ["kangalioo <jannik.a.schaper@web.de>"]
edition = "2018"
name = "poise"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.19"
once_cell = "1.7.2" # to store and set user data
parking_lot = "0.11"
serde_json = "1"
tokio = "1.4.0"
futures = "0.3.13" # to mock discord context in tests
poise_macros = { path = "macros" }
async-trait = "0.1.48" # PopArgumentAsync trait

[dependencies.serenity]
default-features = false
features = ["builder", "cache", "client", "gateway", "model", "utils", "rustls_backend", "unstable_discord_api"]

# version = "0.10.5"

# git = "https://github.com/serenity-rs/serenity"
# branch = "next"

git = "https://github.com/kangalioo/serenity"
branch = "poise-tailored"

# path = "../_downloaded/serenity"

[dev-dependencies]
# For the examples
tokio = { version = "1.4.0", features = ["rt-multi-thread"] }